---
const currentYear = new Date().getFullYear();
---

<footer class="flex justify-center items-center gap-x-6 h-20">
  <p class="text-center text-sm">
    Copyright © {currentYear} Viranbağ. Tüm hakları saklıdır.
  </p>
</footer>
