---
import logo from '@assets/icons/logo-new.svg?url';
---

<a href="/" class="py-2" aria-label="Moji Coffee Shop Büyükada Logosu">
  <img
    src={logo}
    alt="Saman Köyiçi Logo"
    loading="lazy"
    class="w-[300px]"
    width="96"
    height="96"
  />
</a>
